/deep/ .ivu-btn-warning {
  font-family: PingFangSC-Regular;
  display: inline-block;
  height: 32px;
  font-size: 12px;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  background: #ffa029;
  &:hover {
    background: #f98c04;
  }
  span {
    vertical-align: baseline;
  }
}
/deep/ .ivu-btn-warning {
  &:focus {
    box-sizing: border-box;
    border: none;
    box-shadow: none;
  }
}

/deep/ .ivu-btn-warning {
  &:disabled {
    border-color: #ffd9a9;
    background: #ffd9a9;
  }
  &:hover {
    color: #fff;
  }
}

/deep/ .bt-width {
  width: 100px;
}
